/* Angular Material Theme */
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Global styles */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 16px;
  background-color: #fafafa;
}

/* Material form field spacing */
.mat-mdc-form-field {
  margin-bottom: 16px;
}
